 <!DOCTYPE html>
 {% load crispy_forms_tags %}
 {% load static %}
 {% load i18n %}
<html>
<head>
<title>{% trans "Currency Converter" %}</title>
</head>
<body>
 <table style="width:100%">
  <tr>
    <th>{% trans "currency" %}</th>
    <th>{% trans "iso code" %}</th>
    <th>{% trans "levs" %}</th>
  </tr>
  {% for currency in currencies %}
  
      <tr> 
        <th><a href = "{% url 'converter:currency_detail_view' currency.0 %}"><p>{{ currency.1}}</p></a></th>
        <th>{{ currency.2}}</th>
        <th>{{ currency.3}}</th>
      </tr>
{% endfor %}
</table> 

<form method="post" id="exchange-form">
    {% csrf_token %}
    <div class="fieldWrapper" id="the_post">
        {{ form.as_p}}
    </div>
    <div id="results"></div> 
    <input type="submit" class="btn btn-info" value="Submit">
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src={% static "converter/js/main.js" %}></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html> 
